*.egg-info
*.pyo
*.sqlite
*.~*
*credentials.*
.cache
.coverage
.DS_Store
.env
.envrc
.idea
.pydevproject
.tox
.venv
.python-version
*.bak
/contacts.json
/dist
/media
/offices.json
__pycache__
CACHE
celerybeat-schedule
coverage.
db/clean.sql
db/*.bz2
db/etools.dump
db/public.sqldump
db/tenant*.sql
djcelery.schedulers.DatabaseScheduler
docker/.envrc
docker/cache
docker/superset.db
LOCAL
local.yaml
pytest.xml
settings_local.py
src/etools_datamart/apps/core/static/api-doc.css.map
src/etools_datamart/apps/etools/models/public_old.py
src/etools_datamart/apps/etools/models/tenant_old.py
xml
~*
**/dual-listbox-master/
#src/etools_datamart/apps/security/static/security/dual-listbox-master
build/
