.DS_Store
*.egg-info
*.pyo
*.sqlite
*.~*
*credentials.*
.cache
.coverage
.idea
.tox
/contacts.json
/dist
/media
/offices.json
__pycache__
CACHE
celerybeat-schedule
coverage.
xml
djcelery.schedulers.DatabaseScheduler
LOCAL
local.yaml
pytest.xml
settings_local.py
~*
.pydevproject
db/db1.bz2
.env
.venv
docker/cache
src/etools_datamart/apps/core/static/api-doc.css.map
