include CHANGES
include CONTRIBUTING.md
include MANIFEST.in
include Pipfile
include Pipfile.lock
include README.md
include src
include tox.ini

exclude .dockerignore
exclude .env
exclude .env.tpl
exclude .jshintrc
exclude .pre-commit-config.yaml
exclude .secrets.baseline
exclude .style.yapf
exclude .tox
exclude docker-compose.yml
exclude Dockerfile.dev
exclude entrypoint.sh
exclude Makefile
exclude manage.py
exclude manage.py
exclude tests
exclude TODO

prune .circleci
prune db
prune docker
prune tests

recursive-exclude tests *
recursive-include docs *
recursive-include src *.sql
recursive-include src *.sqldump
recursive-include src/etools_datamart *.*
recursive-include src/unicef_rest_framework *.*
recursive-include src/unicef_security *.*

exclude deploy
exclude docker
exclude hooks
recursive-exclude docker *
recursive-exclude deploy *
recursive-exclude hooks *
