[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
admin-extra-urls = ">=2.1"
celery = "*"
coreapi = "*"
django = ">=2.1.5,<2.2a"
django-adminfilters = ">=1.1"
django-celery-beat = "==1.4.0"
django-concurrency = "*"
django-constance = "*"
django-cors-headers = "*"
django-crashlog = "*"
django-environ = "*"
django-picklefield = "*"
django-redis = "*"
django-regex = "*"
django-strategy-field = "*"
django-sysinfo = "==1.4"
djangorestframework-csv = "*"
djangorestframework-jwt = "*"
drf-dynamic-serializer = ">=1.2.0"
drf-extensions = "*"
drf-yasg = {version = "*",extras = ["validation"]}
gunicorn = "*"
humanize = "*"
pyparsing = "*"
raven = "*"
sqlparse = "*"
whitenoise = "*"
django-model-utils = "*"
python-social-auth = "*"
social-auth-app-django = "*"
django-db-logging = "*"
cryptography = "==2.4.1"
#rest-social-auth = "*"
"django-rest-framework-social-oauth2" = "*"
django-countries = "*"
django-filter = "*"
drf-renderer-xlsx = "*"
django-redisboard = "*"
djangorestframework-xml = "*"
redis = "==2.10.6"
djangorestframework-yaml = "*"
django-storages = {extras = ["azure"],version = "*"}
onedrivesdk = "*"
azure-storage = "*"
django-post-office = "*"
django-celery-email = "*"
"xhtml2pdf" = "*"
django-crispy-forms = "*"
django-adminactions = "*"
django-dbtemplates = {file = "https://github.com/jazzband/django-dbtemplates/archive/2.0.1.tar.gz"}
django-mptt = "*"
djangorestframework-gis = "*"
openpyxl = "==2.5.12"

[dev-packages]
"flake8" = ">=3.6.0"
check-manifest= "*"
django-extensions = "*"
django-webtest = "*"
docker = "*"
drf-api-checker = ">=0.3"
factory-boy = "*"
ipython = "*"
isort = "*"
pdbpp = "*"
pytest = "*"
pytest-coverage = "*"
pytest-django = "*"
pytest-echo = "*"
pytest-pythonpath = "*"
yapf = "*"
vcrpy = "*"
pre-commit = "*"
freezegun = "*"
pytest-ignore-flaky = "*"
bumpversion = "*"

[requires]
python_version = "3.6"

[scripts]
test = "pytest tests"
tox = "tox"
init-setup = "./manage.py init-setup"

[pipenv]
allow_prereleases = false
