[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg2-binary" = "*"
admin-extra-urls = ">=2.1"
celery = "*"
coreapi = "*"
django = ">=2.0,<2.1"
django-adminfilters = ">=1.1"
django-celery-beat = "*"
django-concurrency = "*"
django-constance = "*"
django-cors-headers = "*"
django-crashlog = "*"
django-environ = "*"
django-picklefield = "*"
django-redis = "*"
django-regex = "*"
django-strategy-field = "*"
django-sysinfo = "*"
django-tenant-schemas = "*"
djangorestframework-csv = "*"
djangorestframework-jwt = "*"
drf-dynamic-serializer = ">=1.2.0"
drf-extensions = "*"
drf-querystringfilter = ">=1.0.0"
drf-yasg = {version = "*", extras = ["validation"]}
flower = "*"
gunicorn = "*"
humanize = "*"
pyparsing = "*"
raven = "*"
sqlparse = "*"
whitenoise = "*"

[dev-packages]
"flake8" = "*"
check-manifest= "*"
django-extensions = "*"
django-webtest = "*"
docker = "*"
drf-api-checker = ">=0.3"
factory-boy = "*"
ipython = "*"
isort = "*"
pdbpp = "*"
pre-commit = "*"
pytest = "*"
pytest-coverage = "*"
pytest-django = "*"
pytest-echo = "*"
pytest-pythonpath = "*"
tox-pipenv = "==1.6.0"
yapf = "*"

[requires]
python_version = "3.6"

[scripts]
test = "pytest tests"
tox = "tox"
init-setup = "./manage.py init-setup"

[pipenv]
allow_prereleases = false
