[run]
branch = True
source = etools_datamart

omit =
        **/api-builder.py
        **/api/endpoints/unicef/business_area.py
        **/api/endpoints/unicef/region.py
        **/api/endpoints/unicef/serializers.py
        **/apps/etools/models/public_old.py
        **/apps/etools/models/tenant_old.py
        **/db_router.py
        **/etools_datamart/apps/data/management/commands/load.py
        **/inspectschema.py
        **/introspection.py
        **/libs/mystica.py
        **/multitenant/postgresql/creation.py
        **/queue.py
        **/reset-migrations.py
        **/tracking/management/commands/track.py
        tests/**


[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    pragma: no-cover
    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug
    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    except ImportError
    # Don't complain if non-runnable code isn't run:
    #if 0:
    if __name__ == .__main__.:

fail_under = 96

ignore_errors = True

[html]
directory = ~build/coverage
