interactions:
- request:
    body: null
    headers:
      Authorization: [Basic c2Fwb3N0b2xpY29AdW5pY2VmLm9yZzpzOHlLc2Z3TThTRjY4M0c=]
    method: GET
    uri: https://devapis.unicef.org/BIService/BIWebService.svc/GetBusinessAreaList_JSON
  response:
    body: {string: '{"GetBusinessAreaList_JSONResult":"[{\"BUSINESS_AREA_CODE\":\"0060\",\"BUSINESS_AREA_NAME\":\"Afghanistan\",\"BUSINESS_AREA_LONG_NAME\":\"THE
        ISLAMIC REPUBLIC OF AFGHANISTAN\",\"REGION_CODE\":\"64\",\"REGION_NAME\":\"ROSA\"},{\"BUSINESS_AREA_CODE\":\"0090\",\"BUSINESS_AREA_NAME\":\"Albania\",\"BUSINESS_AREA_LONG_NAME\":\"THE
        REPUBLIC OF ALBANIA\",\"REGION_CODE\":\"66\",\"REGION_NAME\":\"ECAR\"},{\"BUSINESS_AREA_CODE\":\"0120\",\"BUSINESS_AREA_NAME\":\"Algeria\",\"BUSINESS_AREA_LONG_NAME\":\"THE
        PEOPLE\\u0027S DEMOCRATIC REPUBLIC OF ALGERIA\",\"REGION_CODE\":\"59\",\"REGION_NAME\":\"MENA\"},{\"BUSINESS_AREA_CODE\":\"0240\",\"BUSINESS_AREA_NAME\":\"Argentina\",\"BUSINESS_AREA_LONG_NAME\":\"TH[...]
