{% load static datamart %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ opts.verbose_name }}</title>
    <style>
        .page{
            padding: 10px;
        }
        table {
            width: 100%;
        }
        td{
            padding: 10px;
        }
        .odd{
            background-color: rgba(151,151,151,0.09);
        }
        .even{

        }
        @page {
            size: A4 landscape;
        }
    </style>
</head>
<body>
<h1>{{ opts.verbose_name }}</h1>
<div class="page">
<table>
    <tr>
        {% for v in headers %}
            <th>{{ v }}</th>
        {% endfor %}
    </tr>
    {% for row in data.results %}
        <tr class="{% cycle "odd" "even" %}">
            {% for k,v in row.items %}
                <td class="{% cycle "odd" "even" %}">{{ v }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
</div>
</body>
</html>
