.success {
  color: #00b600;
}

.failure {
  color: #d23434;
}

.error {
  color: #d23434;
}

.warn {
  color: #d5a71c;
}

.run {
  color: #000000;
}

.results {
  .field-_status {
    .success, .error, .failure, .warn, .run {
      font-weight: bold;
    }
  }
}
