.success {
  color: #00b600; }

.failure {
  color: #d23434; }

.error {
  color: #d23434; }

.warn {
  color: #d5a71c; }

.run {
  color: #000000; }

.results .field-_status .success, .results .field-_status .error, .results .field-_status .failure, .results .field-_status .warn, .results .field-_status .run {
  font-weight: bold; }
