* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.success {
  color: #00b600;
}

.failure {
  color: #d2625d;
}

.error {
  color: #d2625d;
}

.warn {
  color: #e9b71f;
}

.run {
  color: #000000;
}

.results {
  .success, .error, .failure, .warn, .run {
    font-weight: bold;
  }
}

body, html {
  height: 50%;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

  a {
    color: black;

    &:hover {
      color: black;

    }
  }

  span.str {
    color: black;
  }
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.master-container {
  width: 100%;
  //min-height: 94vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

//.box {
//  width: 1170px;
//  background: #fff;
//  overflow: hidden;
//  display: -webkit-box;
//  display: -webkit-flex;
//  display: -moz-box;
//  display: -ms-flexbox;
//  display: flex;
//  flex-wrap: wrap;
//  align-items: stretch;
//  flex-direction: row-reverse;
//}

.right {
  //width: 50%;
  //display: -webkit-box;
  //display: -webkit-flex;
  //display: -moz-box;
  //display: -ms-flexbox;
  //display: flex;
  //flex-wrap: wrap;

  form, #login-menu {
    padding: 100px 0 0 65px;
  }

  .center {
    width: 100%;
    text-align: center;
  }

  h1 {
    width: 100%;
    font-size: 24pt;
    text-align: center;
  }

  h2 {
    font-size: 16pt;
  }

  h1, h2, h3, h4 {
    margin: 20px;
  }

  a {
    text-decoration: none;
  }
}

ul.index-menu {
  padding: 20px 0 0 65px;
  list-style: none;
  font-size: 18pt;

  a {
    color: #4bace9;
    text-transform: none;
    text-decoration: none;
  }

  li.menu-sep {
    width: 100%;
    font-size: 2px;
    //border: 1px solid black;
  }
}

.h10 {
  display: block;
  height: 10px;
}

.h30 {
  display: block;
  height: 30px;
}

//.pad4 {
//  padding: 4px;
//}
//
//.pad6 {
//  padding: 6px;
//}
//.pad10 {
//  padding: 10px;
//}

/* [ login more ]*/

@media only screen and (min-width: 100px) {
  .left {
    display: none;
  }
  .right {
    display: block;
    vertical-align: top;
  }
  .master-container {
    min-height: 94vh;
    display: flex;
    align-items: start;
  }
}

@media only screen and (min-width: 500px) {
  .left {
    display: block;
    width: 100%;

    img {
      display: block;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media only screen and (min-width: 768px) {
  .left {
    width: 100%;
    align-content: center;
  }
  .right {
  }
}

@media only screen and (min-width: 1024px) {
  .left {
    width: 50%;
  }
  .right {
    width: 50%;
  }
  .master-container {
    min-height: 94vh;
  }
}

.left {
  //width: 50%;
  //background-repeat: no-repeat;
  //background-size: cover;
  //background-position: center;
  //position: relative;
  //z-index: 1;
  //&:before {
  //  content: "";
  //  display: block;
  //  position: absolute;
  //  z-index: -1;
  //  width: 100%;
  //  height: 100%;
  //  top: 0;
  //  left: 0;
  //}
}

.m-b-20 {
  margin-bottom: 20px;
}

.wrap-input100 {
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-size: 18px;
  color: #666666;
  line-height: 1.2;
  padding: 0 25px;
}

input.input100 {
  height: 55px;
}

/*[ Button ]*/
.container-login100-form-btn {
  //width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  //width: 100%;
  height: 50px;
  border-radius: 3px;
  background: #4bace9;

  font-size: 12px;
  color: #ffffff;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #333333;
}

/* [ Responsive ]*/

//@media (max-width: 992px) {
//  .login100-form {
//    width: 60%;
//    padding-left: 30px;
//    padding-right: 30px;
//  }
//
//  .login100-more {
//    width: 40%;
//  }
//}

//@media (max-width: 768px) {
//  .login100-form {
//    width: 100%;
//  }
//
//  .login100-more {
//    width: 100%;
//  }
//}
//
//@media (max-width: 576px) {
//  .login100-form {
//    padding-left: 15px;
//    padding-right: 15px;
//    padding-top: 150px;
//  }
//
//  .rs1-wrap-input100,
//  .rs2-wrap-input100 {
//    width: 100%;
//  }
//
//  .rs2-wrap-input100 {
//    border-left: 1px solid #e6e6e6;
//  }
//}

.navbar {
  border-top: none;
  background: #4bace9;
  color: black;

  a.navbar-brand {
    color: white;
  }
}


.rounded {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.monitor, .profile {
  .menubar {
    padding: 10px;

    a {
      &:visited {
        text-transform: none;
      }

      text-transform: none;
      color: #4bace9;
    }
  }

  #monitor {
    width: 100%;
    padding: 30px;

    .SUCCESS {
      color: #00b200;
      font-weight: bold;
    }

    .row {
      width: 100%;
      padding: 5px;

      &.header {
        font-weight: bold;
      }

      &.odd {
        background-color: #eeeeee;
      }

      &.even {

      }
    }

    .col {
      display: inline-block;

      &.task {
        width: 30%;
      }

      &.last_run {
        width: 200px;
      }

      &.last_changes {
        width: 200px;
      }

      &.status {
        width: 120px;
      }

      &.subscription {
        width: 180px;
      }
    }
  }
}

.profile {
  .panel {
    padding: 5px;
    position: relative;
    display: inline-block;
    width: 300px;

    h1 {
      font-size: 14pt;
      margin-bottom: 5px;
    }

    ul {
      width: 100%;
      border: 1px solid #cfcfcf;
      overflow-y: scroll;
      height: 400px;
    }
  }

  #areas {
    width: 18%;
  }

  #services {
    width: 40%;
  }

  //#menu {
  //  width: 170px;
  //
  //  ul {
  //    text-align: left;
  //    overflow-y: hidden;
  //    padding: 5px;
  //  }
  //}

  #password {
    width: 40%;
    ul{
          overflow-y: hidden;
    overflow-x: hidden;

    }
    .message {
      margin: 20px;
      text-align: left;

      .password {
        text-align: center;
        //margin: 20px;
        padding: 20px;
        font-family: monospace;
        font-size: 20px;
        border: 1px solid grey;
      }
    }

    form {
      width: 400px;
      overflow-y: auto;
      text-align: center;
    }

    .btn {
      justify-content: center;
      align-items: center;
      padding: 0 20px;
      height: 40px;
      border-radius: 3px;
      font-size: 12px;
      //background: #2090F8;
      color: black;
      line-height: 1.2;
      text-transform: uppercase;
      letter-spacing: 1px;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
      cursor: pointer;
    }

    .btn-submit {
      background: #4bace9;
      color: #ffffff;
    }
  }
}
