
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body, html {
  height: 50%;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  a {
    color: black;
    &:hover {
      color: black;

    }
  }
  span.str {
    color: black;
  }
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.master-container {
  width: 100%;
  min-height: 94vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.box {
  width: 1170px;
  background: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;
}

.right {
  width: 50%;
  //display: -webkit-box;
  //display: -webkit-flex;
  //display: -moz-box;
  //display: -ms-flexbox;
  //display: flex;
  flex-wrap: wrap;
  form {
    padding: 100px 0 0 65px;
  }
  .center {
    width: 100%;
    text-align: center;
  }

  h1 {
    width: 100%;
    font-size: 24pt;
    text-align: center;
  }
  h2 {
    font-size: 14pt;
  }
  //h1 {
  //  width: 100%;
  //  font-size: 24pt;
  //  text-align: center;
  //}
  ul {
    padding: 20px 0 0 65px;
    list-style: none;
    font-size: 18pt;
  }
  a {
    color: #2090F8;
  }

}

/* [ login more ]*/

.left {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  //&:before {
  //  content: "";
  //  display: block;
  //  position: absolute;
  //  z-index: -1;
  //  width: 100%;
  //  height: 100%;
  //  top: 0;
  //  left: 0;
  //}
}

.m-b-20 {
  margin-bottom: 20px;
}

.wrap-input100 {
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-size: 18px;
  color: #666666;
  line-height: 1.2;
  padding: 0 25px;
}

input.input100 {
  height: 55px;
}

/*[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  background: #2090F8;

  font-size: 12px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #333333;
}

/* [ Responsive ]*/

//@media (max-width: 992px) {
//  .login100-form {
//    width: 60%;
//    padding-left: 30px;
//    padding-right: 30px;
//  }
//
//  .login100-more {
//    width: 40%;
//  }
//}

//@media (max-width: 768px) {
//  .login100-form {
//    width: 100%;
//  }
//
//  .login100-more {
//    width: 100%;
//  }
//}
//
//@media (max-width: 576px) {
//  .login100-form {
//    padding-left: 15px;
//    padding-right: 15px;
//    padding-top: 150px;
//  }
//
//  .rs1-wrap-input100,
//  .rs2-wrap-input100 {
//    width: 100%;
//  }
//
//  .rs2-wrap-input100 {
//    border-left: 1px solid #e6e6e6;
//  }
//}

.navbar {
  border-top: none;
  background: #2090F8;
  color: black;

  a.navbar-brand {
    color: white;
  }
}

.monitor {
  .menubar {
    padding: 10px;
    a {
      &:visited {
        text-transform: none;
      }
      text-transform: none;
      color: #2090F8;
    }
  }
  #monitor {
    width: 100%;
    padding: 30px;
    .SUCCESS {
      color: #00b200;
      font-weight: bold;
    }
    .row {
      width: 100%;
      padding: 5px;
      &.header{
        font-weight: bold;
      }
      &.odd{
        background-color: #eeeeee;
      }
      &.even{

      }
    }

    .col {
      display: inline-block;
      &.task {
        width: 30%;
      }
      &.timestamp {
        width: 300px;
      }
      &.result {
        width: 100px;
      }
    }
  }
}
