* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.success {
  color: #00b600; }

.failure {
  color: #d2625d; }

.error {
  color: #d2625d; }

.warn {
  color: #e9b71f; }

.run {
  color: #000000; }

.results .success, .results .error, .results .failure, .results .warn, .results .run {
  font-weight: bold; }

body, html {
  height: 50%;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  body a, html a {
    color: black; }
    body a:hover, html a:hover {
      color: black; }
  body span.str, html span.str {
    color: black; }

.limiter {
  width: 100%;
  margin: 0 auto; }

.master-container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px; }

.right form, .right #login-menu {
  padding: 100px 0 0 65px; }

.right .center {
  width: 100%;
  text-align: center; }

.right h1 {
  width: 100%;
  font-size: 24pt;
  text-align: center; }

.right h2 {
  font-size: 16pt; }

.right h1, .right h2, .right h3, .right h4 {
  margin: 20px; }

.right a {
  text-decoration: none; }

ul.index-menu {
  padding: 20px 0 0 65px;
  list-style: none;
  font-size: 18pt; }
  ul.index-menu a {
    color: #4bace9;
    text-transform: none;
    text-decoration: none; }
  ul.index-menu li.menu-sep {
    width: 100%;
    font-size: 2px; }

.h10 {
  display: block;
  height: 10px; }

.h30 {
  display: block;
  height: 30px; }

/* [ login more ]*/
@media only screen and (min-width: 100px) {
  .left {
    display: none; }
  .right {
    display: block;
    vertical-align: top; }
  .master-container {
    min-height: 94vh;
    display: flex;
    align-items: start; } }

@media only screen and (min-width: 500px) {
  .left {
    display: block;
    width: 100%; }
    .left img {
      display: block;
      height: 300px;
      margin-left: auto;
      margin-right: auto; } }

@media only screen and (min-width: 768px) {
  .left {
    width: 100%;
    align-content: center; } }

@media only screen and (min-width: 1024px) {
  .left {
    width: 50%; }
  .right {
    width: 50%; }
  .master-container {
    min-height: 94vh; } }

.m-b-20 {
  margin-bottom: 20px; }

.wrap-input100 {
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6; }

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-size: 18px;
  color: #666666;
  line-height: 1.2;
  padding: 0 25px; }

input.input100 {
  height: 55px; }

/*[ Button ]*/
.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  border-radius: 3px;
  background: #4bace9;
  font-size: 12px;
  color: #ffffff;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }

.login100-form-btn:hover {
  background: #333333; }

/* [ Responsive ]*/
.navbar {
  border-top: none;
  background: #4bace9;
  color: black; }
  .navbar a.navbar-brand {
    color: white; }

.rounded {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px; }

.monitor .menubar, .profile .menubar {
  padding: 10px; }
  .monitor .menubar a, .profile .menubar a {
    text-transform: none;
    color: #4bace9; }
    .monitor .menubar a:visited, .profile .menubar a:visited {
      text-transform: none; }

.monitor #monitor, .profile #monitor {
  width: 100%;
  padding: 30px; }
  .monitor #monitor .SUCCESS, .profile #monitor .SUCCESS {
    color: #00b200;
    font-weight: bold; }
  .monitor #monitor .row, .profile #monitor .row {
    width: 100%;
    padding: 5px; }
    .monitor #monitor .row.header, .profile #monitor .row.header {
      font-weight: bold; }
    .monitor #monitor .row.odd, .profile #monitor .row.odd {
      background-color: #eeeeee; }
  .monitor #monitor .col, .profile #monitor .col {
    display: inline-block; }
    .monitor #monitor .col.task, .profile #monitor .col.task {
      width: 30%; }
    .monitor #monitor .col.last_run, .profile #monitor .col.last_run {
      width: 200px; }
    .monitor #monitor .col.last_changes, .profile #monitor .col.last_changes {
      width: 200px; }
    .monitor #monitor .col.status, .profile #monitor .col.status {
      width: 120px; }
    .monitor #monitor .col.subscription, .profile #monitor .col.subscription {
      width: 180px; }

.profile .panel {
  padding: 5px;
  position: relative;
  display: inline-block;
  width: 300px; }
  .profile .panel h1 {
    font-size: 14pt;
    margin-bottom: 5px; }
  .profile .panel ul {
    width: 100%;
    border: 1px solid #cfcfcf;
    overflow-y: scroll;
    height: 400px; }

.profile #areas {
  width: 18%; }

.profile #services {
  width: 40%; }

.profile #password {
  width: 40%; }
  .profile #password ul {
    overflow-y: hidden;
    overflow-x: hidden; }
  .profile #password .message {
    margin: 20px;
    text-align: left; }
    .profile #password .message .password {
      text-align: center;
      padding: 20px;
      font-family: monospace;
      font-size: 20px;
      border: 1px solid grey; }
  .profile #password form {
    width: 400px;
    overflow-y: auto;
    text-align: center; }
  .profile #password .btn {
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: 40px;
    border-radius: 3px;
    font-size: 12px;
    color: black;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    cursor: pointer; }
  .profile #password .btn-submit {
    background: #4bace9;
    color: #ffffff; }
