{% extends "rest_framework/base.html" %}{% load crispy_forms_filters %}
{% block head %}{{ block.super }}{% endblock %}
{% block body %}{{ block.super }}{% endblock %}
{% block navbar %}{{ block.super }}{% endblock %}
{#{% block breadcrumbs %}{{ block.super }}{% endblock %}#}
{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li class="active"><a href="{% url "home" %}">Home</a></li>
        <li class="active"><a href="{% url "profile" %}">Settings</a></li>
        <li class="active"><a href="{% url 'urf:export-list' %}">Exports</a></li>
        <li class="active"><a href="#">{{ form.instance }}</a></li>
    </ul>
{% endblock %}
{% block request-info %}
    <div class="request-info" style="clear: both">
    <pre class="prettyprint"><b class="inline-flex">GET </b><a class="inline-flex" href="{{ source }}">{{ source }}</a></pre>
    </div>
{% endblock %}
{% block api-response %}
    <div class="container">
        <div class="col-lg-12">
            <div class="col-lg-8">
                {% if not object.pk or object.as_user == request.user or request.user.is_superuser %}
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-primary" value="Save">
                </form>
                {% else %}
                    <p><b>ID: </b>{{ object.name }}</p>
                    <h1><b>Name: </b>{{ object.name }}</h1>
                    <p><b>Url: </b>{{ object.url }}</p>
                    <p><b>As User: </b>{{ object.as_user }}</p>
                    <p><b>Format: </b>{{ object.format }}</p>
                    <p><b>Filename: </b>{{ object.filename }}</p>
                    <p><b>Save as: </b>{{ object.save_as }}</p>
                    <p><b>Response Length: </b>{{ object.response_length }}</p>
                    <p><b>Status Code: </b>{{ object.status_code }}</p>
                    <p><b>Last Run: </b>{{ object.last_run }}</p>
                {% endif %}
            </div>
            <div class="col-lg-4">
                <br>
                {% if object.last_run %}
                    <h4><b><a href="{% url "urf:export-fetch" object.id %}">Download</a></b></h4>
                {% endif %}
                <br><br>
                {% if request.user.is_superuser %}
                    <h4><b><a href="{% url "admin:unicef_rest_framework_export_change" object.id %}" target="_blank">Admin</a></b></h4>
                    <br><br>
                {% endif %}
                <b>Selected Filters:</b>
                <ul>{% for k,v in form.params.items %}
                    <li><strong>{{ k }}</strong>: {{ v }}</li>
                {% endfor %}</ul>

            </div>
        </div>
    </div>
{% endblock %}
{% block script %}{{ block.super }}{% endblock %}
