<!DOCTYPE html>{% load static datamart %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block head %}
        <link rel="icon" type="image/ico" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}?_={% version %}">
    {% endblock head %}

</head>
<body>

{% block content %}

    <div class="limiter">
        <div class="master-container">
            <div class="box">
                <div class="right">
                    {% block right %}
                        <form class="validate-form" method="post">
                            {% csrf_token %}
                            <div class="wrap-input100 validate-input m-b-20" data-validate="Type user name">
                                <input id="first-name" class="input100" type="text" name="username"
                                       placeholder="User name">
                                {#                            <span class="focus-input100"></span>#}
                            </div>
                            <div class="wrap-input100 validate-input m-b-20" data-validate="Type password">
                                <input class="input100" type="password" name="password" placeholder="Password">
                                {#                            <span class="focus-input100"></span>#}
                            </div>

                            <div class="container-login100-form-btn">
                                <button class="login100-form-btn">
                                    Sign in
                                </button>
                            </div>

                        </form>
                    {% endblock right %}

                </div>
                <div class="left">
                    <img src="{% static 'unicef_logo.png' %}">
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block footer %}
    <hr/>
    <div style="float: left;padding: 10px">
        {{ user.label }}
    </div>
    <div style="float: right;padding: 10px">
    Version: {% version %}
    </div>
{% endblock footer %}

</body>
</html>
