{% extends 'base.html' %}{% load static datamart %}
{% block right %}
    <h1>eTools Datamart</h1>
    <ul class="index-menu">
        {% if request.user.is_anonymous %}
            <li><a href="{% url "api:api-root" version="latest" %}">API (needs token)</a></li>
            <li class="menu-sep h30">&nbsp;</li>
            <li class="menu-sep h30">&nbsp;</li>
            <li><a href="{% url "login" %}">Login</a></li>
        {% else %}
            <li><a href="{% url "api:api-root" version="latest" %}">API</a></li>
            <li><a href="{% url "api:schema-redoc" %}">Documentation</a></li>
            <li><a href="{% url "api:schema-swagger-ui" %}">Swagger</a></li>
            <li><a href="/status/">Service Status</a></li>
            <li><a href="{% url "monitor" %}">Monitor</a></li>
            <li><a href="{% url "profile" %}">Settings</a></li>
            <li><a href="{% url "urf:export-list" %}">Files</a></li>
            {% if request.user.is_staff %}
                <li class="menu-sep h10">&nbsp;</li>
                <li><a href="{% url "admin:index" %}">Admin</a></li>
            {% endif %}
            {% if request.user.is_superuser %}
                <li class="menu-sep h10">&nbsp;</li>
                <li><a href="/explorer">Explorer</a></li>
                <li><a href="/flower">Flower</a></li>
                <li><a href="/rmq/">RabbitMQ</a></li>
            {% endif %}
            <li class="menu-sep h30">&nbsp;</li>
            <li class="menu-sep h30">&nbsp;</li>
            <li><a href="{% url "logout" %}">Logout</a></li>
            <li><a href="{% url "disconnect" %}">Disconnect</a></li>

        {% endif %}
    </ul>
{% endblock %}
