{% extends 'base.html' %}{% load static %}

{% block title %}Login{% endblock %}

{% block right %}
    <div class="center" id="login-menu">
        <div>
            <h2><a href="{% url "social:begin" "azuread-tenant-oauth2" %}">Login with Azure</a></h2>
        </div>
        {% if settings.DEBUG %}
            <div><h4>OR</h4></div>
            <div>
                <h4><a id="local-login" href="#">Administrative login</a></h4>
            </div>
        {% endif %}
    </div>
    <div style="display: none" id="login-form">
        <form class="validate-form" method="post">
            {% csrf_token %}
            <span class="login100-form-title p-b-34">Account Login</span>
            <div class="wrap-input100 validate-input m-b-20" data-validate="Type user name">
                <input id="first-name" class="input100" type="text" name="username" placeholder="User name">
                <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input m-b-20" data-validate="Type password">
                <input class="input100" type="password" name="password" placeholder="Password">
                <span class="focus-input100"></span>
            </div>

            <div class="container-login100-form-btn">
                <button class="login100-form-btn">
                    Sign in
                </button>
            </div>
            <div>
                <div class="center" style="padding: 30px">OR</div>
                <h2 class="center"><a href="{% url "social:begin" "azuread-tenant-oauth2" %}">Login with Azure</a></h2>
            </div>
        </form>
    </div>
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script>
        $('#local-login').on("click", function () {
            $('#login-menu').hide();
            $('#login-form').show();
        });
    </script>

{% endblock %}
