{% extends 'base.html' %}{% load static subscriptions %}

{% block title %}Monitor{% endblock %}

{% block content %}
    <style>
        select {
            {#background: transparent;#}
            border: none;
            font-size: 14px;
            height: 29px;
            padding: 5px; /* If you add too much padding here, the options won't show in IE */
            width: 150px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
        }

    </style>
    <div id="header">
        <img src="{% static 'unicef_logo.png' %}" width="100">
    </div>
    <div class="menubar">
        <span><a href="{% url "home" %}">Home</a></span>
        <span><a href="{% url "api:api-root" version="latest" %}">API</a></span>
        <span><a href="{% url "api:schema-redoc" %}">Documentation</a></span>
        {% if user.is_staff %}
            <span><a href="{% url "admin:index" %}">Admin</a></span>
        {% endif %}
    </div>
    <div id="monitor">
        <div class="row header">
            <span class="col task">Data</span>
            <span class="col last_run">Last run</span>
            <span class="col last_changes">Last change</span>
            <span class="col status">Status</span>
            <span class="col subscription">Subscribe</span>
        </div>
        {% for t in tasks %}
            <div class="row {% cycle 'odd' 'even' %}">
                <span class="col task">{{ t.verbose_name }}</span>
                <span class="col last_run">{{ t.last_run|default_if_none:"" }}</span>
                <span class="col last_changes">{{ t.last_changes|default_if_none:"" }}</span>
                <span class="col status {{ t.status }}">{{ t.status }}</span>
                <span class="col subscription">
                    {% subscription_select t %}
                </span>
                {% if user.is_staff %}
                    <span><a href="{% url "admin:etl_etltask_change" t.pk %}">Admin</a></span>
                {% endif %}

            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block bottom_scripts %}
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script>
        $('select').on('change', function (e) {
            console.log(e);
            console.log(e.target.id);

            $.post("{% url "subscribe" "000" %}".replace("000", e.target.id),
                JSON.stringify({"type": e.target.selectedIndex})
            ).done(function (e) {

            }).fail(function (e) {

            }).always(function (e) {

            });

        })
    </script>
{% endblock %}
