{% load static datamart %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ opts.verbose_name }}</title>
    <style>
        h1{
            padding-left: 20px;
            padding-top: 20px;
        }
        .page{
            padding: 10px;
        }
        table {
            width: 100%;
        }
        td{
            padding: 5px;
            border-left: 1px solid grey;
            border-bottom: 1px solid grey;
        }
        @page {
            size: A4 landscape;
        }
    </style>
</head>
<body>
<h1>{{ opts.verbose_name }}</h1>
<div class="page">
{% if headers %}
<table>
    <tr>
        {% for v in headers %}
            <th>{{ v }}</th>
        {% endfor %}
    </tr>
    {% for row in data.results %}
        <tr class="{% cycle "odd" "even" %}">
            {% for k,v in row.items %}
                <td>{{ v }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endif %}
</div>
</body>
</html>
