{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block userlinks %}
    {{ block.super }}
    {% if user.is_superuser %}
        {% url 'sys-admin-info' as sysinfo %}
        {% if sysinfo %}
            <a href="{{ sysinfo }}">Sys Infos</a>
        {% endif %}
    {% endif %}
{% endblock %}
{% block nav-global %}{% endblock %}
