{% extends "admin/base_site.html" %}{% load i18n sysinfo static %}
{% block extrahead %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "sysinfo/sysinfo.css" %}"/>

{% endblock %}
{% block userlinks %}
  <a name="top"/>
{% endblock userlinks %}
{% block breadcrumbs %}
  {{ block.super }}
{% endblock %}
{% block content_title %}{% if title %}<h1>System Information</h1>{% endif %}{% endblock %}

{% block content %}
  <div>
    <a href="#project">Project</a>
    - <a href="#python">Python</a>
    - <a href="#os">OS</a>
    - <a href="#envirn">Environment</a>
    - <a href="#modules">Modules</a>
    - <a href="#host">Host</a>
    - <a href="#extra">Extras</a>
  {% url "sys-info" as json %}
  {% if json %}
    <span style="float:right"><a href="{{ json }}">view json</a></span>
  {% endif %}
  </div>
  {% section 'project' %}
  {% section 'python' %}
  {% section 'os' %}
  {% section 'environ' %}
  {% section 'host' %}
  {% section 'modules' %}
  {% section 'extra' %}
{% endblock %}
